* {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

a {
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}

main video {
    margin: 0 auto;
    display: block;
}

p {
    font-size: 21px;
    color: gray;
}

footer p {
    color: gray;
    text-align: right;
}

#img-phone {
    margin-top: 20px;
}