* {
    background-color: black;
}

header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

header p, a {
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}